<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
<script src="https://kit.fontawesome.com/af5fa1eba9.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="main clearfix">
      <div class="center">
        <div class="inner">中间自适应</div>
   </div>
        <div class="left">左列定宽</div>
        <div class="right">右列定宽</div>
  </div>

<script src="app.js"></script>
</body>
</html>